## Swift Package Manager
.build/
build/
Package.resolved

## Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/
DerivedData/
*.swiftpm/xcode/

## Editors
.vscode/
.idea/

## macOS
.DS_Store
*.swp
